<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">javathegod@2014</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/protientracker</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.default_schema">protientracker</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <property name="hibernate.format_sql">true</property>
  
  <!--  <mapping resource="com/hibernate/Session1/User.hbm.xml"/>
  <mapping resource="com/hibernate/session2/User.hbm.xml"/>
  <mapping resource="com/hibernate/session3/User.hbm.xml"/>
  <mapping resource="com/hibernate/Session4/UserHistory.hbm.xml"/>
  <mapping resource="com/hibernate/Session5/User.hbm.xml"/> 
  <mapping resource="com/hibernate/Session6/User.hbm.xml"/>
  <mapping resource="com/hibernate/Session7/User.hbm.xml"/>
  <mapping resource="com/hibernate/Session7/UserHistory.hbm.xml"/> -->
  
  <mapping resource="com/hibernate/Session8/User.hbm.xml"/>
  <mapping resource="com/hibernate/Session8/ProtienData.hbm.xml"/>
  <mapping resource="com/hibernate/Session8/UserHistory.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
